import request from '@/router/axios'

export function fetchList(query) {
    return request({
        url: '/${moduleName}/${classname}/list',
        method: 'get',
        params: query
    })
}

export function fetchPage(query) {
    return request({
        url: '/${moduleName}/${classname}/page',
        method: 'get',
        params: query
    })
}

export function addObj(obj) {
    return request({
        url: '/${moduleName}/${classname}',
        method: 'post',
        data: obj
    })
}

export function getObj(id) {
    return request({
        url: '/${moduleName}/${classname}/' + id,
        method: 'get'
    })
}

export function delObj(id) {
    return request({
        url: '/${moduleName}/${classname}/' + id,
        method: 'delete'
    })
}

export function putObj(obj) {
    return request({
        url: '/${moduleName}/${classname}',
        method: 'put',
        data: obj
    })
}
