package ${package}.${moduleName}.external.converter;

#set($classPrefix = 'External' + $className)
#set($classNamePrefix = 'external' + $className)
import ${package}.common.mvc.converter.BaseConverter;
import ${package}.common.mvc.dto.PageDTO;
import ${package}.${moduleName}.model.${className};
import ${package}.${moduleName}.dto.${classPrefix}RequestDTO;
import ${package}.${moduleName}.dto.${classPrefix}ResponseDTO;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.stereotype.Component;

import java.util.List;
/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Component
public class ${classPrefix}Converter extends BaseConverter<${className}, ${classPrefix}RequestDTO, ${classPrefix}ResponseDTO> {
    @Override
    public ${className} requestToModel(${classPrefix}RequestDTO requestDTO) {
        return copyToModel(requestDTO, ${className}.class);
    }

    @Override
    public ${classPrefix}ResponseDTO modelToResponse(${className} model) {
        return copyToDTO(model, ${classPrefix}ResponseDTO.class);
    }

    @Override
    public List<${className}> requestToModelList(List<${classPrefix}RequestDTO> dtoList) {
        return copyToModelList(dtoList, ${className}.class);
    }

    @Override
    public PageDTO<${classPrefix}ResponseDTO> modelToResponsePage(Page<${className}> modelPage) {
        return copyToDtoPage(modelPage, ${classPrefix}ResponseDTO.class);
    }
}
