package ${package}.${moduleName}.dto;

#set($classPrefix = 'External' + $className)
import ${package}.common.mvc.dto.BaseResponseDTO;
import lombok.*;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${classPrefix}ResponseDTO extends BaseResponseDTO {
    private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
#if($column.columnName != "is_deleted")

    /**
     * $column.comments
     */
#if($column.attrType == "LocalDateTime")
    private Long $column.lowerAttrName;
#else
    private $column.attrType $column.lowerAttrName;
#end

#end
#end

}
